.flex
{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
    background-color: pink;
}
.dark
{
    margin:20px;
    color:teal;
    font-style: italic;
}
.text
{
    margin:20px;
    color:gray;
    font-style: italic;
}