<!DOCTYPE html>
<html>
    <head>
        <title>playlist</title>
        <link rel="stylesheet" href="static/playlist.css">
    </head>
    <body>
        <div class="flex">
            <h1 class="dark">play list</h1>
            <table>
                <tr>
                    <th><h1 class="dark">yourname</h1></th>
                    <th><h1 class="dark">crushname</h1></th>
                    <th><h1 class="dark">flames</h1></th>
                </tr>
                {%for i in data%}
                <tr>
                    <td><h1 class="text">{{i[1]}}</h1></td>
                    <td><h1 class="text">{{i[2]}}</h1></td>
                    <td><h1 class="text">{{i[3]}}</h1></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>