<!DOCTYPE html>
<html>
    <head>
        <title>playlist</title>
        <link rel="stylesheet" href="static/playlist.css">
    </head>
    <body>
        <div class="flex">
            <h1 class="dark">PLAYLIST</h1>
            <table>
                <tr>
                    <th><h1 class="dark">YOURNAME</h1></th>
                    <th><h1 class="dark">CRUSHNAME</h1></th>
                    <th><h1 class="dark">FLAMES</h1></th>
                    <th><h1 class="dark">EDIT</h1></th>
                </tr>
                {%for i in data%}
                <tr>
                    <td><h1 class="text">{{i[1]}}</h1></td>
                    <td><h1 class="text">{{i[2]}}</h1></td>
                    <td><h1 class="text">{{i[3]}}</h1></td>
                    <td><a class="text"  href="{{url_for('Remove', username=i[0],yourname=i[1],crushname=i[2])}}"><button class="but">remove</button></a></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>