<!DOCTYPE html>
<html>
    <head>
        <title>feedback</title>
        <link rel="stylesheet" href="/static/usersdb.css">
    </head>
    <body>
        <div class="flex">
            <table>
                <tr>
                    <th><h1 class="dark">username</h1></th>
                    <th><h1 class="dark">email</h1></th>
                </tr>
                {%for i in data%}
                <tr>
                    <td><h1 class="text">{{i.username}}</h1></td>
                    <td><h1 class="text">{{i.email}}</h1></td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </body>
</html>